<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <style>
        #mapid { 
            height: 60rem;
            background-color:white;
        }
    </style>
    <title> Brython map </title>
    <script src="{{ url_for('static', filename='node_modules/brython/brython.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/brython/brython_stdlib.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
</head>

<body onload="brython()">
    {% block body %}{% endblock %}
</body>
</html>